.all-content {
    display: flex;
    height: 100vh;
    overflow: scroll;
}
.dark-mode * {
    background-color: #222; 
    color: #fff;
}
.side-nav {
    width: 80px;
    max-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.side-nav ul  {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 100%;
}
.side-nav ul li {
    text-decoration: none;
    list-style: none;
}
.side-nav ul li span {
    background-color: transparent !important;
}
.side-nav a {
    cursor: pointer;
}
.side-nav a[aria-current="page"] {
    background-color: #007bff;
}
table tbody td button .material-icons {
    background-color: transparent !important;
}
.main-content {
    max-height: 100vh;
    overflow: scroll;
}