<div class="all-content" [ngClass]="{'dark-mode': isDarkMode}">
  <!-- sidenav -->
  <div class="side-nav">
    <a class="d-flex justify-content-center align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
      <img
        src="assets/images/management.png"
        alt=""
        width="60px"
        height="60px"/>
    </a>
    <hr />
    <ul class="">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page">
          <span class="material-icons"> home </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <span class="material-icons"> people </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <span class="material-icons"> analytics </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <span class="material-icons"> shield </span>
        </a>
      </li>
      <li class="nav-item mt-auto">
        <a class="nav-link">
          <span class="material-icons" (click)="changeLanguage('en')"
          *ngIf="(langService.currentLanguageSubject | async) == 'ar'">
             translate 
          </span>
          <span class="material-icons" (click)="changeLanguage('ar')"
          *ngIf="(langService.currentLanguageSubject | async) == 'en'">
             translate 
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="darkMode()">
          <span *ngIf="!isDarkMode" class="material-icons"> dark_mode </span>
          <span *ngIf="isDarkMode" class="material-icons"> light_mode </span>
        </a>
      </li>
    </ul>
  </div>

  <!-- main content -->

  <div class="container-fluid pb-2 pt-5 main-content">
    <div class="mb-3">
      <div class="row">
        <div class="col-md-5">
          <input id="searchInput" type="text" (input)="onSearch($event)" class="form-control" [placeholder]="isLang ? 'Search...' : 'البحث...'" />
        </div>
        <div class="col-md-4">
          <div class="d-flex">
            <label for="dateFilter" class="font-weight-bold mb-0 mt-2 mx-2"
              >{{isLang ? 'Filter: ' : 'الفلتره'}}
            </label>
            <input
              id="dateFilter"
              type="text"
              [placeholder]="isLang ? 'Daterange' : ' النطاق الزمني'"
              class="form-control"
              bsDaterangepicker
              (bsValueChange)="onDateRangeChange($event)"
              />
              <button type="button" class="btn btn-danger mx-2" (click)="clearFilter()">{{isLang ? 'Clear' : 'تنظيف'}}</button>
          </div>
        </div>

        <div class="col-md-1 text-right">
          <div class="dropdown">
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <button class="dropdown-item" data-action="bulk-delete">
                <span class="material-icons">delete</span>
                <span class="mx-2">Delete</span>
              </button>
              <button class="dropdown-item" data-action="bulk-block">
                <span class="material-icons">lock</span>
                <span class="mx-2">Block</span>
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <button class="btn btn-primary" (click)="openAddEditUserDialog(0)">{{isLang ? 'Add new' : 'إضافة مستخدم'}}</button>
        </div>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th [class]="isLang ? 'text-left' : 'text-right'"><input type="checkbox" id="selectAll" /></th>
          <th [class]="isLang ? 'text-left' : 'text-right'">{{ isLang ? 'User' : 'المستخدم'}}</th>
          <!-- <th>{{'user' | translate}}</th> -->
          <th [class]="isLang ? 'text-left' : 'text-right'">{{ isLang ? 'EMAIL' : 'البريد الاكتروني'}}</th>
          <th [class]="isLang ? 'text-left' : 'text-right'">{{ isLang ? 'CITY' : 'المدينة'}}</th>
          <th [class]="isLang ? 'text-left' : 'text-right'">{{ isLang ? 'PHONE' : 'الهاتف'}}</th>
          <th [class]="isLang ? 'text-left' : 'text-right'">{{ isLang ? 'BIRTH DATE' : 'تاريخ الميلاد'}}</th>
          <th [class]="isLang ? 'text-left' : 'text-right'">{{ isLang ? 'ACTIONS' : 'الإجراءات'}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers">
          <td class="align-middle" [class]="isLang ? 'text-left' : 'text-right'"><input type="checkbox" name="record" /></td>
          <td>
            <div class="d-flex">
              <img
                [src]="user.image ? user.image : '../assets/images/userLogo.png'"
                alt=""
                class="rounded-circle"
                width="50px"
                height="50px"
              />

              <div class="d-flex flex-column justify-content-end mx-2">
                <p [class]="isLang ? 'text-left font-weight-bold mb-0' : 'text-right font-weight-bold mb-0'">{{user.firstName}} {{user.lastName}} </p>
                <p [class]="isLang ? 'text-left text-muted mb-0' : 'text-right text-muted mb-0'">{{user.company.title ? user.company.title : 'Angular Developer'}}</p>
              </div>
            </div>
          </td>
          <td [class]="isLang ? 'text-left' : 'text-right'">{{user.email}}</td>
          <td [class]="isLang ? 'text-left' : 'text-right'">{{user.address.city ? user.address.city : 'Cairo'}}</td>
          <td [class]="isLang ? 'text-left' : 'text-right'">{{user.phone}}</td>
          <td [class]="isLang ? 'text-left' : 'text-right'">{{user.birthDate}}</td>
          <td>
            <div class="d-flex justify-content-around">
              <button class="btn btn-sm btn-light" (click)="openAddEditUserDialog(user.id)">
                <span class="material-icons text-info">edit</span>
              </button>
              <button class="btn btn-sm btn-light" (click)="openDeleteUserDialog(user.id)">
                <span class="material-icons text-danger">delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination
      [(ngModel)]="page"
      [totalItems]="usersList.length"
      [itemsPerPage]="pageSize"
      [maxSize]="5"
      [boundaryLinks]="true"
      [rotate]="false"
      (pageChanged)="pageChanged($event)"
      class="pagination"
      aria-label="Pagination">
    </pagination>
  </div>
</div>
