<div
  class="d-flex flex-column justify-content-center align-content-center border border-primary rounded text-center p-3 w-100"
>
  <div>
    <h4>Please Press on Admin Button to Access Users Page</h4>
  </div>
  <div
    class="text-centery d-flex flex-column justify-content-between w-75 m-auto pt-4"
  >
    <button type="button" class="btn btn-success mb-3" (click)="login()">
      Admin
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="logout()">
      User
    </button>
  </div>
</div>
